PORT=8080
PROXY_KEY=pon_una_clave_larga_distinta
BINANCE_API_KEY=crea_una_key_nueva_solo_lectura
BINANCE_API_SECRET=crea_una_secret_nueva
BINANCE_API_URL=https://api.binance.com
BINANCE_RECV_WINDOW=5000
